.container{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background-color: #FB862D;
    font-family: 'Poppins';
}

.frase{
    text-align: center;
}

.info {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.links {
    width: 33%;
}

.links ul {
    list-style: none;
}

.endereco {
    width: 33%;
}

.contato {
    width: 33%;
}

.contato ul {
    cursor: pointer;
    list-style: none;
}

@media screen and (max-width: 1080px) {
    .info {
        flex-flow: column;
        text-align: center;
    }

    .links {
        width: 100%;
    }

    .endereco {
        width: 100%;
    }

    .contato {
        width: 100%;
    }
}