.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.sides {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(59, 184, 232);
  background: linear-gradient(0deg, rgba(59, 184, 232, 1) 0%, rgba(0, 169, 228, 1) 46%);
  /* background-color: #1190d5; */
  /* background-image: url('/fundo.png');
  background-position: center;
  background-size: cover; */
}

.left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rigth {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
}

.robo_image {
  width: 100%;
}

.contato {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1190d5;
  background-color: #FFF;
  border: none;
  border-radius: 4px;
  text-align: center;
}

.btn_whatsapp {
  width: 50%;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1em;

  animation: changeButtonColor 5s infinite;
  animation-delay: -1s;
  animation-direction: alternate;
}
/* ANIMAÇÕES*/
@keyframes changeButtonColor {
  0% {
    background-color: #1190d5;
  }

  50% {
    background-color: chartreuse;
  }

  100% {
    background-color: #FC852B;
  }
}

/* MEDIA QUERYES */

@media screen and (max-width: 1300px) {
  .left {
    width: 50%;
  }

  .rigth {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .sides {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .rigth {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn_whatsapp {
    width: 90%;
  }
}