/* CSS PLANOS */
.planos_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background: rgb(57, 184, 232);
    background: linear-gradient(0deg, rgba(57, 184, 232, 1) 0%, rgba(0, 146, 228, 1) 87%);
    text-align: center;
    box-sizing: border-box;
}

.cabecalho {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.cabecalho h1 {
    font-size: 2.8em;
    font-family: 'Mulish';
    font-weight: 800;
}

.cabecalho h2{
font-weight: 300;
}

.planos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #1190d5;
    text-align: center;
    box-sizing: border-box;
}

.paper {
    width: 20%;
    min-height: 570px;
    box-sizing: border-box;
    margin: 0px 20px;
    color: #1190d5;
    background-color: #fff;
    border: 0;
    border-radius: 8px;
    transition: 0.9s;
}

.paper hr {
    width: 80%;
    height: 2px;
    border: 0;
    border-radius: 4px;
    background-color: #FC852B;
}

.paper_planeName {
    color: #FC852B;
    font-size: 0.9em;
}

.velocity {
    color: #1190d5;
}

.body_info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.body_info p {
    color: #1190d5;
    font-size: 1.2em;
    font-weight: 400;
}

.div_price {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    color: #1190d5;
}

.div_price h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
}

.div_price p {
    margin: 0;
}

.button_getPlane {
    width: 250px;
    height: 50px;
    margin-top: 10px;
    border: 0;
    border-radius: 7px;
    color: #fff;
    background-color: #FC852B;
    font-size: 1.1em;
    font-weight: 600;
    transition: 0.9s;
    cursor: pointer;
}

.button_getPlane:hover{
    background-color: #81C54D;
}


@media screen and (max-width: 1400px){
    .planos{
        flex-direction: column;
    }
    .paper{
        width: 40%;
        margin-top: 10px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1080px){
    .planos{
        flex-direction: column;
    }

    .paper{
        width: 90%;
        margin-top: 10px;
    }
}