.quem_somos {
    width: 100%;
    min-height: 50vh;
    color: #1190D5;
    background-color: #FFF;
    margin-top: 20px;
}

.quem_somos h2 {
    font-size: 1.8em;
    color: #FFF;
    background-color: #1190d5;
    width: 90%;
    margin: 10px auto auto auto;
    padding: 2px;
    border-radius: 4px;
    text-align: center;
}

.quem_somos blockquote {
    width: 80%;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imagem {
    width: 50%;
}

.imagem img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.texto {
    width: 50%;
}

@media screen and (max-width: 600px) {
    .body {
        flex-direction: column;
    }

    .imagem{
        width: 100%;
    }

    .imagem img{
        width: 100%;
    }

    .texto{
        width: 100%;
    }
}